<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net46" />
  <package id="Moq" version="4.7.10" targetFramework="net46" />
  <package id="NLog" version="4.4.9" targetFramework="net46" />
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="TsSoft.BindingsDescription" version="1.0.5878.32057" targetFramework="net46" />
  <package id="TsSoft.Expressions.Helpers" version="1.0.6291.25038" targetFramework="net46" />
  <package id="TsSoft.Expressions.Models" version="1.0.6291.25038" targetFramework="net46" />
</packages>