<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:/tmp/Nlog.Mongo/InternalLog.txt"
      autoReload="true">

  <variable name="mongoConnection" value="mongodb://localhost/NlogMongoIntegrationTests" />

  <targets>
    <target name="MongoDb" xsi:type="AsyncWrapper" overflowAction="Discard" timeToSleepBetweenBatches="50"
            batchSize="1000" queueLimit="50000">
      <target xsi:type="Mongo"
              connectionString="${mongoConnection}"
              collectionName="Logs"
              includeDefaults="true">
        <field name="AnyText" layout="Field text"/>
        <property name="Prop" layout="Prop text" />
        <index name="Date_Id_Idx" creationBehaviour="CreateIfNotExists">
          <field name="Date" indexType="Ascending" />
          <field name="_id" indexType="Ascending" />
        </index>
        <index name="CustomPropIdx" creationBehaviour="Replace">
          <field name="Properties.Prop" indexType="Descending" />
        </index>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="MongoDb" />
  </rules>
</nlog>
